<div
  id='{{title}}Display'
  class='{{hidden}} p-2 pt-0 mb-6 block flex justify-between items-center'
>
  <div
    class='text-3xl text-center font-medium drop-shadow-xl text-gray-100'
  >{{title}}</div>

  <div class='rounded overflow-hidden'>
    <div
      class='m-2 p-2 border border-gray-700 rounded-lg bg-gray-700 shadow-lg'
    >
      <button
        id='{{title}}PlusBtn'
        class='text-4xl text-center font-bold drop-shadow-xl text-white'
      >+</button>
    </div>
  </div>
</div>

<div id='{{title}}SubmitForm' class='hidden mb-2 ml-3 mr-3 pt-4'>
  <input
    id='{{title}}_title'
    type='text'
    class='block text-xl post-title-input w-full p-4 text-black border rounded-lg sm:text-md bg-white'
    placeholder='{{title}} Title'
  />
  <div class='pt-2 pl-3 pb-4 flex justify-end'>
    <button
      id='{{title}}Submit'
      type='submit'
      class='create-btn bg-blue-500 hover:bg-blue-700 text-white font-normal py-1 px-4 rounded'
    >Submit</button>
  </div>
</div>