<div
  data-hiddenheading-id={{id}}
  id='{{title}}SubmitForm'
  class='hidden mb-2 ml-3 mr-3 pt-4'
>
  <input
    id='{{title}}_title'
    type='text'
    class='block text-xl post-title-input w-full p-4 text-black border rounded-lg sm:text-md bg-white'
    placeholder='{{title}} Title'
  />
  <div class='pt-2 pl-3 pb-4 flex justify-end'>
    <button
      id='{{title}}Submit'
      type='submit'
      class='create-btn bg-blue-500 hover:bg-blue-700 text-white font-normal py-1 px-4 rounded'
    >Submit</button>
  </div>
</div>

{{! <script src='/javascript/HeadingPlusBtn.js'></script> }}